In [3]:
import numpy as np
import pandas as pd

In [4]:
#creating dataframe from data dic
data_dic = {
    "Name": ['Jarin', 'Tasnin', 'Anika'],
    "Age": [16, 14, 20]
}

df = pd.DataFrame(data_dic, index=["Student-1","Student-2","Student-3"])
df

#selecting a specific row
df.loc['Student-2']

#selecting a specific column
df['Name']

Student-1     Jarin
Student-2    Tasnin
Student-3     Anika
Name: Name, dtype: object

### Reading file using pandas

In [7]:
#reading a csv file
df = pd.read_csv(r'E:\Machine Learning\Module 6\Cust_Purch_FakeData.csv')
df

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
0,Dr.,Ray,Morton,sebvajom@kol.km,Male,38,Medtronic Inc.,Health Therapist,(987) 619-2695,B6V 3W3,MB,5020000000000230,05/2018,Solo,8.36,Blue,126.23.139.2,Sunday,pm,04/05/1930
1,Miss,Claudia,Rodriquez,acu@jatsot.ug,Female,51,"Ames Department Stores, Inc.",Health Therapist,(356) 736-7352,G7M 5F3,SK,5020000000000230,07/2028,Visa,68.31,Black,106.198.76.211,Tuesday,am,12/20/1926
2,Miss,Harry,Meyer,zuz@lo.wf,Female,51,CSX Corp.,Political Scientist,(539) 246-1806,A0Z 6P9,NS,6300000000000000,02/2023,Switch,34.65,Black,186.150.187.29,Wednesday,pm,08/20/1931
3,Miss,Edith,Gilbert,hansohsi@jupec.md,Female,55,Murphy Oil Corporation,Transportation Manager,(984) 962-7494,P9I 9H3,YT,3530000000000000,02/2028,Maestro,64.59,White,80.140.57.161,Saturday,am,06/18/2001
4,Dr.,Lura,Murphy,webediti@je.st,Female,20,PETsMART Inc,Statistician,(902) 568-9748,S1A 6K0,ON,4030000000000000,10/2025,Diners Club International,20.83,Yellow,211.103.43.41,Friday,pm,06/14/2045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,Mr.,John,Maxwell,larlisu@sejenu.ad,Female,38,Spherion Corp,Publishing Director,(873) 298-1178,V4U 0X2,YT,6330000000000000,04/2028,Visa Electron,90.37,Red,194.14.119.109,Sunday,am,04/18/2014
29996,Dr.,Alfred,Bass,le@duridzo.gh,Female,24,Ford Motor Co,Diamond Merchant,(541) 904-3323,T9O 1H6,PE,201000000000000,12/2026,American Express,5.94,White,154.114.74.254,Sunday,pm,09/27/2068
29997,Mrs.,Edward,Curtis,ta@kucemah.et,Female,56,Park Place Entertainment Corp,Executive Director,(375) 931-8605,X5Z 4E1,QC,201000000000000,06/2021,Maestro,65.66,Black,188.0.106.220,Monday,pm,09/07/1997
29998,Mr.,Max,Woods,li@mincoz.mp,Female,64,Nacco Industries Inc,University Administrator,(786) 481-9627,G0S 9Q8,NS,30000000000000,08/2023,Solo,52.66,Black,129.168.247.27,Monday,pm,09/08/1938
29999,Mr.,Olga,Rodriguez,ner@ota.ec,Male,22,Texas Industries Inc.,Leasing Manager,(841) 962-4087,N2D 5K3,BC,6300000000000000,05/2024,InstaPayment,17.71,Yellow,70.2.107.65,Wednesday,am,06/22/1956

### Reading first and last ten data from dataset

In [9]:
first_ten_data = df.head(10)
last_ten_data = df.tail(10)
first_ten_data
last_ten_data

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
29990,Mrs.,Theodore,Lewis,nof@vowna.cz,Female,33,Southwest Airlines Co,Reporter,(905) 477-7816,M6W 8B2,NU,5610000000000000,06/2027,China UnionPay,38.80,Blue,207.238.119.187,Thursday,am,02/14/1994
29991,Mrs.,Harriett,May,tiwmubu@ureriv.cc,Female,62,The Neiman Marcus Group Inc.,Distribution Manager,(327) 783-3145,R6A 3H2,BC,6290000000000000,05/2026,JCB,54.34,Yellow,32.50.6.145,Wednesday,pm,05/06/1926
29992,Mr.,Leonard,Flores,fi@luak.au,Female,36,Aon Corporation,Consultant,(225) 863-1707,X6E 8Z4,PE,30100000000000,12/2024,JCB,86.13,Blue,153.250.119.4,Friday,pm,02/17/1904
29993,Mr.,Herman,Ballard,di@vu.mz,Female,52,Toll Brothers Inc,Electro Optical Engineer,(947) 891-5151,C3L 6N5,SK,4030000000000000,03/2018,Visa,45.59,Green,131.176.8.57,Wednesday,pm,11/07/2024
29994,Miss,Dennis,Adkins,oloepmul@osu.pm,Female,57,Wellpoint Health Networks Inc,Building Contractor,(787) 626-2200,H2N 6Y5,NB,36900000000000,10/2026,Diners Club United States & Canada,84.38,Red,59.15.246.46,Thursday,am,02/08/1958
29995,Mr.,John,Maxwell,larlisu@sejenu.ad,Female,38,Spherion Corp,Publishing Director,(873) 298-1178,V4U 0X2,YT,6330000000000000,04/2028,Visa Electron,90.37,Red,194.14.119.109,Sunday,am,04/18/2014
29996,Dr.,Alfred,Bass,le@duridzo.gh,Female,24,Ford Motor Co,Diamond Merchant,(541) 904-3323,T9O 1H6,PE,201000000000000,12/2026,American Express,5.94,White,154.114.74.254,Sunday,pm,09/27/2068
29997,Mrs.,Edward,Curtis,ta@kucemah.et,Female,56,Park Place Entertainment Corp,Executive Director,(375) 931-8605,X5Z 4E1,QC,201000000000000,06/2021,Maestro,65.66,Black,188.0.106.220,Monday,pm,09/07/1997
29998,Mr.,Max,Woods,li@mincoz.mp,Female,64,Nacco Industries Inc,University Administrator,(786) 481-9627,G0S 9Q8,NS,30000000000000,08/2023,Solo,52.66,Black,129.168.247.27,Monday,pm,09/08/1938
29999,Mr.,Olga,Rodriguez,ner@ota.ec,Male,22,Texas Industries Inc.,Leasing Manager,(841) 962-4087,N2D 5K3,BC,6300000000000000,05/2024,InstaPayment,17.71,Yellow,70.2.107.65,Wednesday,am,06/22/1956

### Length of dataframe

In [21]:
size = df.size
size

600000

### DataFrame info

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   prefix      30000 non-null  object
 1   first       30000 non-null  object
 2   last        30000 non-null  object
 3   email       30000 non-null  object
 4   gender      30000 non-null  object
 5   age         30000 non-null  int64
 6   company     30000 non-null  object
 7   profession  30000 non-null  object
 8   phone       30000 non-null  object
 9   postal      30000 non-null  object
 10  province    30000 non-null  object
 11  cc_no       30000 non-null  int64
 12  cc_exp      30000 non-null  object
 13  cc_type     30000 non-null  object
 14  price(CAD)  30000 non-null  float64
 15  fav_color   30000 non-null  object
 16  ip          30000 non-null  object
 17  weekday     30000 non-null  object
 18  ampm        30000 non-null  object
 19  date        30000 non-null  object
dtypes: float64(1), int64(2), object(17)
memory usage: 4.6+ MB

# Numpy Operation

### Load the numerical columns from CSV into a NumPy array

In [24]:
numerical_columns = df.select_dtypes(include=[np.number])
numerical_column_array = numerical_columns.to_numpy()
print(numerical_column_array)

[[3.800e+01 5.020e+15 8.360e+00]
 [5.100e+01 5.020e+15 6.831e+01]
 [5.100e+01 6.300e+15 3.465e+01]
 ...
 [5.600e+01 2.010e+14 6.566e+01]
 [6.400e+01 3.000e+13 5.266e+01]
 [2.200e+01 6.300e+15 1.771e+01]]

### Find the mean for numerical data

In [25]:
numerical_column_array.mean()

np.float64(1373528031111141.5)

###